/*Default*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    display: flex;
    flex-flow: column nowrap;

    width: 100vw;
}
/*Common elements*/
hr {
    width: 50px;
    height: 2px;
    background: red;
}
article{
    width: 100vw;

    padding-top: 15px;
    padding-bottom: 15px;
}
article h5{
    font-style: italic;
}
article h5, article h4{
    margin: 5px;
}
article hr {
    margin: 15px;
}
/*header*/
header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    width: 100vw;

    margin-bottom: 100px;
}
header h2{
    margin-top: 80px;
    margin-bottom: 20px;
}
header hr{
    /*background: white;*/
    margin: 20px;
}
header span{
    border: solid;
    padding: 1px;
    padding-left: 15px;
    padding-right: 15px;

    font-weight: bold;
}
/*nav*/
nav ul{
    list-style: none;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    
    width: 800px;
}
li {
    padding: 10px;
    margin: 10px;
}
/*article 1*/
#a1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}
#a1 .reel{
    display: flex;
    flex-flow: row nowrap;   
}
.reel img{
    height: 150px;
    width: 200px;

    margin: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*article 2*/
#a2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#a2 .fact{
    text-align: center;

    padding: 10px;
    border: solid;
    width: 125px;
}
.fact h1{
    font-size: 50pt;
}
.fact p{
    font-size: 8pt;
}
/*article 3*/
#a3{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#a3 .service{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin: 10px;
    width: 800px;
}
.service .servicebox{
    width: 200px;
}
.servicebox img{
    width: 25px;
    height: 25px;
    float: left;
    margin: 10px;
}
.servicebox p{
    margin-top: 5px;
}
#a3 .serviceSep{
    background: lightgrey;
    width: 600px;
}
/*article 4*/
#a4{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#a4 .quote{
    width: 500px;
}
.quote img{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}
.quote .from{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: flex-start;
}
#a4 hr{
    margin: 0;
    margin-right: 5px;
    align-self: space-between;  
}
.from span{
    font-style: italic;
    font-size: 13pt;
}
/*article 5*/
#a5 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#a5 .personnel{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin: 50px;
}
.names{
    text-align: center;
}
.names img{
    height: 275px;
    width: 200px;
    margin-left: 8px;
    margin-right: 8px;
}
.names h6{
    font-size: 10pt;
    margin-top: 8px;
}
.names em{
    font-size: 8pt;
}
/*article 6*/
#a6{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#a6 img{
    height: 100px;
    width: 100px;

    margin: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}