/*Default*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    display: flex;
    flex-flow: column nowrap;

    width: 100vw;
}
/*Common elements*/
hr {
    width: 50px;
    height: 2px;
    background: red;
}
article{
    width: 100vw;

    padding-top: 15px;
    padding-bottom: 15px;
}
article h5{
    font-style: italic;
}
article h5, article h4{
    margin: 5px;
}
article hr {
    margin: 15px;
}
/*header*/
header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    width: 100vw;

    margin-bottom: 100px;
}
header h2{
    margin-top: 80px;
    margin-bottom: 20px;
}
header hr{
    /*background: white;*/
    margin: 20px;
}
header span{
    border: solid;
    padding: 1px;
    padding-left: 15px;
    padding-right: 15px;

    font-weight: bold;
}
/*nav*/
nav ul{
    list-style: none;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    
    width: 100vw;
}
li {
    padding: 10px;
    margin: 10px;
}
/*article 1*/
#a1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}
#a1 .reel{
    display: flex;
    flex-flow: row nowrap;   
}
.reel img{
    height: 150px;
    width: 200px;

    margin: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}