*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
html, body{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
}
h2, h5{
    margin: 20px;
}
button{
    height: 50px;
    width: 50px;
    font-weight: bolder;
    font-size: 24pt;
    border-radius: 50%;
    box-shadow: inset grey -2px -2px;
}
button:hover{
    box-shadow: inset grey -1px -1px;
}
button:active{
    box-shadow: inset grey 0px 0px;
}
button:focus{
    outline: none;
    text-decoration: underline;
}
img{
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 50%;
}